/* COLORS */
/* FONTS */
/* SIZES -- PADDINGS & MARGINS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.header {
  position: relative;
  min-width: 1024px;
  width: 100%;
  height: 840px;
  background-image: url(../img/background.png);
  background-size: cover;
  background-position: top;
}
.header__logo-box {
  position: absolute;
  top: 58px;
  left: 50%;
  transform: translateX(-50%);
  width: 464px;
  height: 96px;
}
.header__logo-text {
  float: right;
}
.header__logo {
  float: left;
  width: 78px;
  height: 84px;
}
.header__heading-logo--main {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
}
.header__heading-logo--sub {
  font-size: 27px;
  font-weight: 800;
  letter-spacing: 5px;
  line-height: 1;
}
.header__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 204px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
}
.header__heading-primary {
  font-size: 139.6px;
  font-weight: 900;
  line-height: 0.9;
  text-align: center;
  text-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
}

.btn {
  display: inline-block;
  border-radius: 35px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #48924f;
  transition: transform 0.2s, background-color 0.2s;
}
.btn--white {
  background-color: #fff;
  color: #48924f;
  width: 180px;
  height: 70px;
  margin: 50px auto 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 3.8;
  box-shadow: 0px 16px 30px rgba(50, 175, 100, 0.15);
}
.btn:hover {
  background-color: #48924f;
  color: #fff;
  transform: translateY(-2px);
}
.btn:active {
  transform: translateY(0);
}
.btn--special {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  width: 374px;
  height: 64px;
  font-size: 18px;
  font-weight: 500;
  line-height: 3.5;
  margin-bottom: 17px;
}
.btn--special:hover {
  background-color: #000;
}

.main__section {
  position: relative;
  text-align: center;
}

.section__heading-secondary {
  font-weight: 800;
  font-size: 64px;
  text-align: center;
  color: #828282;
  margin-top: 70px;
}
.section__heading-secondary--span {
  position: relative;
}
.section__heading-secondary--span::after {
  content: "";
  width: 108px;
  height: 93px;
  background-image: url(../img/grass.svg);
  position: absolute;
  top: 50%;
  left: 0;
}

.cards {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.card {
  width: 385px;
  margin: 0 10px;
  border-radius: 30px;
  box-shadow: 0px 10px 30px rgba(16, 51, 30, 0.1);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 30px 30px 0px 0px;
}

.card h3 {
  font-weight: 900;
  font-size: 16px;
  color: #0d4c14;
}

.card p {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: #0d4c14;
}

.card-text {
  padding: 30px;
}

.article {
  margin-top: 50px;
  min-width: 1024px;
  width: 100%;
  height: 732px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/background.png);
  background-size: cover;
  background-position: top;
}
.article__column-texts {
  display: flex;
  justify-content: center;
  align-items: center;
}
.article__column-texts--text {
  width: 360px;
  margin: 154px 30px 0 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 80%;
  margin-top: 70px;
}
.container__box {
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 95%;
  max-width: 800px;
  margin: 10px;
  border: 1px solid #6cb981;
  border-radius: 40px;
  position: relative;
}
.container__box img {
  flex: 1;
  margin-top: 20px;
  margin-left: 20px;
}
.container__box h3 {
  margin: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #6cb981;
  text-align: left;
  margin: 0 0 10px 0;
}
.container__box p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #0d4c14;
}
.container__box .stars {
  margin-top: 10px;
}
.container__box .stars i {
  color: #6cb981;
  font-size: 18px;
  margin-right: 5px;
}
.container__box--text {
  flex: 3;
  padding-left: 10px;
  text-align: left;
  margin-top: 10px;
}

/* FORM STYLES */
.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-wrapper form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  max-width: 768px;
  height: 266px;
  margin-top: 70px;
  border-radius: 10px;
}
.form-wrapper input[type=text],
.form-wrapper input[type=email],
.form-wrapper input[type=phone] {
  width: 374px;
  height: 56px;
  padding: 20px;
  border-radius: 61px;
  background: #9fdea9;
  border: none;
  margin-bottom: 10px;
  color: #fff;
  font-size: 16px;
  box-sizing: border-box;
}
.form-wrapper .confirm-button {
  width: 168px;
  height: 56px;
  border: 3px solid #4db96b;
  background: none;
  border-radius: 61px;
  color: #4db96b;
  font-size: 16px;
  cursor: pointer;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-wrapper .confirm-button:hover {
  background-color: #4db96b;
  color: #fff;
}
.form-wrapper .icons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 100px;
}
.form-wrapper .icons div {
  margin-top: 25px;
  color: #000;
}
.form-wrapper .icons i {
  font-size: 20px;
  margin-right: 16px;
  color: #4db96b;
}
.form-wrapper .text {
  font-size: 16px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  width: 400px;
}

footer {
  height: 145px;
  background: #324b29;
  margin-top: 50px;
}

@media (min-width: 1920px) {
  /* Styles for screens 1920px wide and bigger go here */
  h1 {
    margin-bottom: 50px;
  }
}/*# sourceMappingURL=main.css.map */